*.py[cod]

*~

#Virtualenv
site/
.venv

#config
contasdoape/config/secret.yaml

#Frontend
contasdoape/static/components/

#CoffeeScript
contasdoape/static/coffee/*.js
contasdoape/static/coffee/*.map

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
