*.py[cod]

*~

#Python Virtual Environments
.web/
.venv

ghostdriver.log

#node
node_modules/

#config
contasdoape/config/secret.yaml

#CoffeeScript
contasdoape/static/css/
contasdoape/static/js/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
