ul.lista-pessoas
  list-style-type: none  
  margin: 1em  
  overflow: overlay  
  padding: 0  

  li.pessoa
    float: left  
    background-color: #FEFEFE  
    border-radius: 5px  
    overflow: hidden  
    min-width: 285px
    margin: .5em  

  li.pessoa > img
    height: 55px
    float: left

  li.pessoa > p  
    font-size: 1.5em  
    margin: .5em .5em 0
    float: left  

  & + p  
    clear: both
