ul {
    list-style-type: none;
    margin: 1em;
    overflow: overlay;
    padding: 0;
}

ul > li {
    float: left;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    margin: .5em;
}

ul > li > span {
    font-size: 1.5em;
    margin: 0 .5em;
}

.btn {
    margin: 7px;
    width: 100%;
}

ul + p {
    clear: both;
}

@media(min-width: 800px) {
    .botao-esquerda {
	float: left;
    }

    .botao-direita {
	float: right; 
    }

    .btn {
	width: 360px;
    }
}
