html,
body {
    height: 100%;
    background-color: #E3E3ED;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -2em;
    padding-bottom: 3em;
}

footer {
    height: 2em;
    background-color: #1C2533;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.texto-ajuda {
    margin: 2em 1em 2em 1em;
}

.texto-ajuda p {
    font-size: 1.2em;
}

.botoes-ajuda {
    margin: 2em 0 2em 0;
    text-align: center;
}
.botoes-ajuda a {
    margin: 1em;
}

