@require 'modulos/lista-pessoas'

.dia-do-acerto
  position: relative

  > p
    float: left
    margin: 0 .6em
    font-size: 3em

  > a
    position: absolute
    top: 1.8em
    cursor: pointer

.membros
  @extends ul.lista-pessoas

.convidados
  @extends ul.lista-pessoas
