ul
  list-style-type: none  
  margin: 1em  
  overflow: overlay  
  padding: 0  

  li
    float: left  
    background-color: #FEFEFE  
    border-radius: 5px  
    overflow: hidden  
    margin: .5em  

  li > span  
    font-size: 1.5em  
    margin: 0 .5em  

  & + p  
    clear: both  

.btn  
  margin: 7px  
  width: 100%  

@media(min-width: 800px)  
  .botao-esquerda  
    float: left  

  .botao-direita  
    float: right   

  .btn  
    width: 360px  
