h3
  font-size: 1.6em

section > ul
  list-style-type: none
  margin: .5em
  overflow: overlay
  padding: 0

  & > li
    float: left
    background-color: #FEFEFE
    border-radius: 5px
    overflow: hidden
    min-width: 275px
    max-width: 450px
    width: 100%

    div.despesas
      margin: .5em 1em 
      float: left

    img
      width: 64px 
      float: left

    div > p
      margin: 0
      font-size: 1.2em

    div > p > strong
      font-size: 1em
      font-weight: bold

@media(min-width: 350px)
  h3
    font-size: 1.7em

@media(min-width: 500px)
  section > ul
    margin: 1em

    & > li
      margin: .5em
