html,
body
  height: 100%
  background-color: #E3E3ED

#wrap
  min-height: 100%
  height: auto
  margin: 0 auto -2em
  padding-bottom: 3em
  min-width: 320px

footer
  height: 2em
  background-color: #1C2533

.container-full
  margin: 0 auto
  width: 100%
  overflow: overlay
  padding: 0 5px

.texto-ajuda
  margin: 2em 1em 2em 1em

.texto-ajuda p
  font-size: 1.2em

.botoes-ajuda
  margin: 2em 0 2em 0
  text-align: center

.botoes-ajuda a
  margin: 1em

form input.error, 
form textarea.error
  border-color: red

form label.error
  margin: .4em
  color: red
  font-weight: normal

@media(min-width: 320px)
  .container-full      
    padding: 0 15px
