<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contas do apê{% endblock %}</title>
    <meta name="description" content="App para ajudar a dividir o apartamento">
    <meta name="author" content="Fernando Oliveira">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link  href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='components/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='components/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>

  <body>
    <div id="wrap">
        {% block menu %}{% endblock %}      
        <div class="container container-full">
            {% block content %}{% endblock %}
        </div>
    </div> 

    <footer>
        {% block rodape %}{% endblock %}
    </footer>    

    <script src="{{ url_for('static', filename='components/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='coffee/menu.js') }}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
