{% extends "logado.html" %}

{% block css %}
  <link href="{{ url_for('static', filename='components/css/tokenfield-typeahead.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='components/css/bootstrap-tokenfield.css') }}" type="text/css" rel="stylesheet">   
{% endblock %}

{% block content %}
  <div id="fb-root" data-app-id="{{ config.FB_CLIENT_ID }}"></div>

  <h1>Convidar amigos</h1>

  <div class="texto-ajuda">
    <p>Seu apê está criado! Agora só falta você dizer com quem você o divide... Digite abaixo o nome dos amigos com os quais você divide o apê e quando eles acessarem o Contas do apê poderão interagir com seu apartamento.</p>

    <input id="fb-friendlist" type="text" class="form-control input-lg">

    <div class="botoes-ajuda">
      <a id="salvar_convites" href="/" class="btn btn-lg btn-primary pull-right" role="button">Salvar</a>	
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='components/js/typeahead.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='components/js/bootstrap-tokenfield.js') }}"></script>
  <script src="{{ url_for('static', filename='js/convidar-amigos.js') }}"></script>
{% endblock %}
