{% extends "logado.html" %}

{% block css %}
    <link href="/static/components/bootstrap-tokenfield/assets/tokenfield-typeahead.css" type="text/css" rel="stylesheet">
    <link href="/static/components/bootstrap-tokenfield/bootstrap-tokenfield/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">   
{% endblock %}

{% block content %}
    <div id="fb-root" data-app-id="{{ config.FB_CLIENT_ID }}"></div>
    
    <h1>Convidar amigos</h1>

    <div class="texto-ajuda">
	<p>Seu apê está criado! Agora só falta você dizer com quem você o divide... Digite abaixo o nome dos amigos com os quais você divide o apê e quando eles acessarem o Contas do apê poderão interagir com seu apartamento.</p>

	<input id="fb-friendlist" type="text" class="form-control input-lg">

	<div class="botoes-ajuda">
	    <a id="salvar_convites" href="/" class="btn btn-lg btn-primary pull-right" role="button">Salvar</a>	
	</div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/static/components/typeahead.js/dist/typeahead.min.js"></script> 
    <script src="/static/coffee/bootstrap-tokenfield.js"></script>
    <script src="../static/coffee/load-facebook-sdk.js"></script>
{% endblock %}
