{% extends "logado.html" %}

{% block css %}
    <link href="../static/css/despesas.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center">{{ mes }}</h1>

    <div class="row">
        <h4 class="pull-right">Total: <strong>R$ {{ total }}</strong></h4>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <h4>{{ data_inicio }}</h4>
        </div>
        <div class="col-xs-6">
            <h4 class="pull-right">{{ data_fim }}</h4>
        </div>
    </div>
    
    <ul class="lista-despesas">
        {% for despesa in despesas %}
            <li>
              <span class="valor">{{ despesa.valor }}</span>
              <img src="{{ despesa.autor.get_image_url() }}"></img>
              <span>{{ despesa.data }}</span>
              <p>{{ despesa.descricao }}</p>
            </li>
        {% endfor %}
    </ul>

    <div class="container row">         
        <form action="/despesas/nova" method="get">
            <button type="submit" id="novadespesa" class="btn btn-primary btn-lg pull-right">Nova despesa</button>
        </form>
    </div>
{% endblock %}
