{% extends "logado.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/despesas.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center">{{ titulo }}</h1>

    <h4 class="text-center">De {{ data_inicio.strftime('%d/%m/%Y') }} à {{ data_fim.strftime('%d/%m/%Y') }}</h4>
    
    <ul class="lista-despesas">
        {% for despesa in despesas %}
            <li>
              <span class="valor">{{ 'R$ %.2f' % despesa.valor }}</span>
              <img src="{{ despesa.autor.get_image_url() }}"></img>
              <span>{{ despesa.data.strftime('%d/%m/%Y') }}</span>
              <p>{{ despesa.descricao }}</p>
            </li>
        {% endfor %}
    </ul>

    <h4 class="pull-right total">Total: <strong>R$ {{ '%.2f' % total }}</strong></h4>

    <a type="submit" id="novadespesa" 
       class="btn btn-primary btn-lg botao-direita"
       href="/despesas/nova">Nova despesa</a>

    {% if despesas|count > 0 %}
      <a href="/relatorio/{{ ano }}/{{ mes }}" 
         class="btn btn-primary btn-lg botao-esquerda"
         type="submit" id="relatorio">Relatório</a>
    {% endif %}
{% endblock %}
