{% extends "logado.html" %}

{% block content %}
    <h1 class="text-center">{{ mes }}</h1>

    <div class="row">
        <h4 class="pull-right">Total: <strong>R$ {{ total }}</strong></h4>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <h4>{{ data_inicio }}</h4>
        </div>
        <div class="col-xs-6">
            <h4 class="pull-right">{{ data_fim }}</h4>
        </div>
    </div>

    <table class="table table-striped">
          <thead>
            <tr>
              <th>Data</th>
              <th>Autor</th>
              <th>Valor</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            {% for despesa in despesas %}
              <tr>
                  <td>{{ despesa.data }}</td>
                  <td>{{ despesa.autor }}</td>
                  <td>{{ despesa.valor }}</td>
                  <td>{{ despesa.descricao }}</td>
               </tr>
            {% endfor %}
          </tbody>
     </table>

    <div class="container row">         
        <form action="/despesas/nova" method="get">
            <button type="submit" id="novadespesa" class="btn btn-primary btn-lg pull-right">Nova despesa</button>
        </form>
    </div>
{% endblock %}
