{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='components/bootstrap-social/bootstrap-social.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row faixa-padrao" >
    <h1>Contas do apê</h1>
    <h3>Organizando as contas de quem divide apartamento</h3>
</div>

<div class="row faixa-destaque">
    <div class="col-lg-4 col-md-4">
        <h2><i class="fa fa-usd"></i>Divida as contas</h2>
        <p>Dividir apartamento é ótimo! Mas cuidado, não controlar os gastos pode dar muita confusão. Anote as despesas aqui que a gente ajuda você a se organizar</p>
    </div>

    <div class="col-lg-4 col-md-4">
        <h2><i class="fa fa-users"></i>Confie nos seus amigos</h2>
        <p>Mais simples do que ficar dividindo o pagamento de cada conta, é fazer um esquema com reembolsos. Nós calculamos quanto cada morador gastou e quanto ele deve reembolsar aos outros</p>
    </div>

    <div class="col-lg-4 col-md-4">
        <h2><i class="fa fa-facebook-square"></i>Tudo conectado</h2>
        <p>Nós nos integramos com o Facebook. Fica bem mais fácil de dizer com quem você divide o apê - não precisa de cadastros!</p>
    </div>
</div>

<div class="row faixa-padrao">
    <div class="col-lg-8 col-md-8">
        <h2>Gostou da ideia?</h2>
        <h4>Faça login e comece a usar</h4>
    </div>

    <div class="col-lg-4 col-md-4 text-center">
        <a id="logar" class="btn btn-social btn-lg btn-facebook" href="{{ url_for('login') }}"><i class="fa fa-facebook"></i>Login com o Facebook</a>
    </div>
</div>
{% endblock %}
