{% extends "base.html" %}

{% block css %}
    <link href="../static/css/menu.css" rel="stylesheet">
{% endblock %}

{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand">Contas do apê</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/sumario">Sumário</a></li>
					<li><a href="/despesas">Despesas</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            {{ usuario.nome }}<b class="caret"></b>
                        </a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)">Action</a></li>
							<li class="divider"></li>
							<li><a href="/logout">Sair</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
{% endblock %}

{% block javascript %}
    <script src="../static/coffee/menu.js"></script>
{% endblock %}
