{% extends "logado.html" %}

{% block css %}
    <link href="../static/css/despesas.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form role="form" action="/despesas/nova" method="post">
        <h1>Lançamento de despesa</h1>
      
        <div class="form-group">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data" name="data" >
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="text" class="form-control" id="valor" name="valor" placeholder="00,00">
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao"></textarea>
        </div>
        <button type="submit" id="lancar" name="lancar" class="btn btn-primary btn-lg btn-block">Lançar</button>
    </form>
{% endblock %}
