{% extends "logado.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/relatorio.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center">Relatório</h1>

    <h4 class="text-center">{{ nome_mes }} de {{ ano }}</h4>
    
    {% if relatorio.contas|length > 0 %}
        <section class="devedores">
            <h3 class="titulo">{{ 'Pessoas para quem eu devo' if relatorio.devedor else 'Pessoas que devem pra mim' }}</h3>
            <ul class="devedores">
                {% for amigo, despesa in relatorio.contas.items() %}
                    <li>
                        <img src="{{ amigo.get_image_url() }}" alt="{{ amigo.nome }}">
			<div class="despesas">
			    <p>Gastou: <strong>{{ 'R$ %.2f' % despesa }}</strong></p>
			    {% if relatorio.devedor %}
                                <p>Eu devo: <strong>{{ 'R$ %.2f' % (despesa - relatorio.valor_medio) }}</strong></p>
			    {% else %}
                                <p>Me deve: <strong>{{ 'R$ %.2f' % (relatorio.valor_medio - despesa) }}</strong></p>
			    {% endif %}
			</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}
