{% extends "logado.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/relatorio.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center">Relatório</h1>

    <h4 class="text-center">{{ nome_mes }} de {{ ano }}</h4>
    
    {% if devedores|length > 0 %}
        <section class="devedores">
            <h3 class="titulo">Pessoas que devem pra mim</h3>
            <ul class="devedores">
                {% for devedor in devedores %}
                    <li>
                        <img src="{{ devedor.usuario.get_image_url() }}" alt="{{ devedor.usuario.nome }}">
			<div class="despesas">
			    <p>Total gasto:<strong> {{ 'R$ %.2f' % devedor.despesas }}</strong></p>
			    <p>Valor a pagar:<strong> {{ 'R$ %.2f' % devedor.divida }}</strong></p>
			</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if credores|length > 0 %}
        <section class="credores">
            <h3 class="titulo">Pessoas para quem eu devo</h3>
            <ul class="credores">
                {% for credor in credores %}
                    <li>
                        <img src="{{ credor.usuario.get_image_url() }}" alt="{{ credor.usuario.nome }}">
			<div class="despesas">
			    <p>Total gasto:<strong> {{ 'R$ %.2f' % credor.despesas }}</strong></p>
			    <p>Valor a pagar:<strong> {{ 'R$ %.2f' % credor.divida }}</strong></p>
			</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}
