{% extends "logado.jinja" %}

{% block css %}
  <link href="{{ url_for('static', filename='css/sumario.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1 class="text-center">Sumário</h1>
  <h4 class="text-center">Ano fiscal <strong>{{ ano }}</strong></h4>

  <ul class="lista">
    {% for mes in meses %}
      <li>
      {% set _mes, _ano = mes.numero() %}
      <a href="/despesas/{{ _ano }}/{{ _mes }}">
          <span class="esquerda">{{ mes.nome_do_mes() }}</span>
          <span class="direita">{{ 'R$ %.2f' % mes.calcular_saldo() }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
