<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contas do apê{% endblock %}</title>
    <meta name="description" content="App para ajudar a dividir o apartamento">
    <meta name="author" content="Fernando Oliveira">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>

  <body>

    <div class="container">
            {% block content %}
            {% endblock %}
    </div> 

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}

  </body>
</html>
